<h1>Mushrooms#index</h1>

<p>Buscador de comentarios</p>
<form action="">
    <input type="text" name="q">
</form>


<p>Agrega un nuevo comentario</p>
<form action="">
    <input type="text" name="create">
    <button type="submit">Crear</button>
</form>


<button type="button">Click</button>
<div ></div>
<ul id='content'></ul>
<div id="update"></div>